<div class="catalog" ng-init="title.text='О приложении'">
	<h1>Подразделения Вооруженных Сил</h1>
	<h3>Описание:</h3>
	<p>Данное приложение позволяет создавать, изменять, удалять подразделения, а также работать со справочниками.</p>
	<h3>Список реквизитов:</h3>
	<ol>
		<li>Наименование</li>
		<li>Сведения</li>
		<li>Адрес</li>
		<li>Телефон</li>
		<li>Количество сотрудников</li>
		<li>Дополнительная информация</li>
		<li>Тип организации</li>
		<li>Управляющий</li>
		<li>Дата создания</li>
	</ol>
	<h3>Реализация</h3>
	<p>Для разработки приложения использовался стек <span>MEAN</span></p>
	<ol>
		<li>Серверная часть - Node.js, Express</li>
		<li>СУБД - MongoDB</li>
		<li>Клиентская часть - AngularJS, HTML, CSS</li>
		<li>Система шаблонизации на стороне сервера - Jade</li>
	</ol>
	<a href="{{baseUrl}}{{activeItem}}">Перейти</a>
</div>